<div class="custom-upsell-wrap">
      <div class="custom-upsell-inner">
         <h4>Other People Also Buy</h4>

         <div class="custom-upsell-row">
            <div class="custom-upsell-col">
               <div class="upsell-img">
                  <img src="https://cdn.shopify.com/s/files/1/0873/8658/7445/files/Rectangle_4.png?v=1717163524">
               </div>
               <div class="upsell-content">
                  <a href="#" class="upsell-item-title"><span class="small14">Training Tshirt</span></a>
                  <div class="upsell-price">
                     <span class="small14">$285.00</span>
                  </div>
                  <button>Add</button>
               </div>
            </div>
            <div class="custom-upsell-col">
               <div class="upsell-img">
                  <img src="https://cdn.shopify.com/s/files/1/0873/8658/7445/files/Rectangle_4_1.png?v=1717163523">
               </div>
               <div class="upsell-content">
                  <a href="#" class="upsell-item-title"><span class="small14">Training Tshirt</span></a>
                  <div class="upsell-price">
                     <span class="small14">$285.00</span>
                  </div>
                  <button>Add</button>
               </div>
            </div>
            <div class="custom-upsell-col">
               <div class="upsell-img">
                  <img src="https://cdn.shopify.com/s/files/1/0873/8658/7445/files/Rectangle_4.png?v=1717163524">
               </div>
               <div class="upsell-content">
                  <a href="#" class="upsell-item-title"><span class="small14">Training Tshirt</span></a>
                  <div class="upsell-price">
                     <span class="small14">$285.00</span>                     
                  </div>
                  <button>Add</button>
               </div>
            </div>
         </div>
      </div>
   </div>