<div class="variant-box">
  <div class="option-box">
    <a href="#">Size not available?</a>
    <div class="card">
      <div class="label-box">
        <h4>SIZE</h4>
        <p>M</p>
      </div>
      <div class="size-selector">
        <div class="input-group">
          <input type="radio" id="s" name="size" value="S">
          <label for="s"><span>S</span></label>
        </div>
        <div class="input-group">
          <input type="radio" id="m" name="size" value="M" checked="checked">
          <label for="m"><span>M</span></label>
        </div>
        <div class="input-group">
          <input type="radio" id="l" name="size" value="L">
          <label for="l"><span>L</span></label>
        </div>
        <div class="input-group">
          <input type="radio" id="xl" name="size" value="XL" disabled>
          <label for="xl"><span>XL</span></label>
        </div>
        <div class="input-group">
          <input type="radio" id="xxl" name="size" value="XXL">
          <label for="xxl"><span>XXL</span></label>
        </div>
      </div>
    </div>
  </div>
  <div class="option-box">
    <div class="card">
      <div class="label-box">
        <h4>COLOR</h4>
        <p>BLACK</p>
      </div>
      <div class="color-selector">
        <div class="input-color">
          <input type="radio" id="biege" name="color" value="biege">
          <label for="biege" style="background: #ECE3DE;" ></label>
        </div>
        <div class="input-color">
          <input type="radio" id="black" name="color" value="black" checked="checked">
          <label for="black" style="background: #000000;" ></label>
        </div>
      </div>
    </div>
  </div>
</div>