<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title>Facebook</title>
    <path d="M13.4756 10.415V7.56187H11.0893V5.85C11.0893 5.85 11.0893 5.07188 11.9712 5.07188C12.8531 5.07188 14.3056 5.07188 14.3056 5.07188V2.21875H10.5706C7.97684 2.21875 7.76934 5.27938 7.76934 5.27938V7.51H5.69434V10.3631H7.76934V17.7812H11.0375V10.415H13.4756Z" fill="black"/>
</svg>