<h6 class="cart-link__label">{{ 'layout.header.cart' | t | escape }}</h6>
<span class="cart-link__icon">
                  {%- render 'svg-cart' -%}
    {%- if cart.item_count > 0 -%}
        <span class="cart-link__count">{{ cart.item_count }}</span>
    {%- endif -%}
                </span>